* {
  scroll-behavior: smooth;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: black;
  transition: background-color 5000s ease-in-out 0s;
}

/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
} */

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 50vmax;
}

::-webkit-scrollbar-thumb {
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  border-radius: 50vmax;
}


.left-panel::-webkit-scrollbar {
  width: 4px;
}

.left-panel::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 50vmax;
}

.left-panel::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, #BF953F, #fff585, #B38728, #FBF5B7, #AA771C);
  border-radius: 50vmax;
}

.metallic-gold {
  /* background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%); */
  background: linear-gradient(to right, #BF953F,  #FBF5B7, #AA771C);

}

.metallic-gold-btn {
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #cf9510 20%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 45%);
}

.settings-head {
  color: rgba(0, 0, 0, 0.54);
  padding: 0;
  font-size: 12px !important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 0.5rem;
}


/* dot loader css */
.dot {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.dot-1 {
  background-color: #3db5e9;
  z-index: 4;
  animation: moveDot1 2s infinite ease;
}

.dot-2 {
  background-color: #1de1c0;
  z-index: 3;
  animation: moveDot2 2s infinite ease;
}

.dot-3 {
  background-color: #005cff;
  z-index: 2;
  animation: moveDot3 2s infinite ease;
}

.dot-4 {
  background-color: #03007f;
  z-index: 1;
  animation: moveDot4 2s infinite ease;
}

@keyframes moveDot1 {
  from {
    transform: rotate(0deg);
    /* transform-origin: top left */
    transform-origin: -20px -20px;
    transform-style: preserve-3D;
  }

  to {
    transform: rotate(-360deg);
    /* transform-origin: top left */
    transform-origin: -20px -20px;
    transform-style: preserve-3D;
  }
}

@keyframes moveDot2 {
  from {
    transform: rotate(0deg);
    /* transform-origin: top right */
    transform-origin: 40px -20px;
    transform-style: preserve-3D;
  }

  to {
    transform: rotate(-360deg);
    /* transform-origin: top right */
    transform-origin: 40px -20px;
    transform-style: preserve-3D;
  }
}

@keyframes moveDot3 {
  from {
    transform: rotate(0deg);
    /* transform-origin: bottom left */
    transform-origin: -20px 40px;
    transform-style: preserve-3D;
  }

  to {
    transform: rotate(-360deg);
    /* transform-origin: bottom left */
    transform-origin: -20px 40px;
    transform-style: preserve-3D;
  }
}

@keyframes moveDot4 {
  from {
    transform: rotate(0deg);
    /* transform-origin: bottom right */
    transform-origin: 40px 40px;
    transform-style: preserve-3D;
  }

  to {
    transform: rotate(-360deg);
    /* transform-origin: bottom right */
    transform-origin: 40px 40px;
    transform-style: preserve-3D;
  }
}

/* dot loader css end */


/* spinner loader  */
#loading {
  border: 5px solid #8e24aa;
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}


/* spinner loader  end */


.react-confirm-alert-overlay {
  background: rgba(0, 0, 0, 0.514) !important;
  backdrop-filter: blur(5px);
}



/* animated tick css */

@-webkit-keyframes checkmark {
  0% {
    stroke-dashoffset: 100px
  }

  100% {
    stroke-dashoffset: 200px
  }
}

@-ms-keyframes checkmark {
  0% {
    stroke-dashoffset: 100px
  }

  100% {
    stroke-dashoffset: 200px
  }
}

@keyframes checkmark {
  0% {
    stroke-dashoffset: 100px
  }

  100% {
    stroke-dashoffset: 0px
  }
}

@-webkit-keyframes checkmark-circle {
  0% {
    stroke-dashoffset: 480px
  }

  100% {
    stroke-dashoffset: 960px;
  }
}

@-ms-keyframes checkmark-circle {
  0% {
    stroke-dashoffset: 240px
  }

  100% {
    stroke-dashoffset: 480px
  }
}

@keyframes checkmark-circle {
  0% {
    stroke-dashoffset: 480px
  }

  100% {
    stroke-dashoffset: 960px
  }
}

@keyframes colored-circle {
  0% {
    opacity: 0
  }

  100% {
    opacity: 100
  }
}

.tick polyline {
  -webkit-animation: checkmark 0.25s ease-in-out 0.7s backwards;
  animation: checkmark 0.25s ease-in-out 0.7s backwards
}

.tick circle {
  -webkit-animation: checkmark-circle 0.6s ease-in-out backwards;
  animation: checkmark-circle 0.6s ease-in-out backwards;
}

.tick circle#colored {
  -webkit-animation: colored-circle 0.6s ease-in-out 0.7s backwards;
  animation: colored-circle 0.6s ease-in-out 0.7s backwards;
}



/* media queries */

@media screen and (max-width:960px) {
  ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

  .left-panel::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
}